:root {
 --main-title-color: #ffffff;
 --second-color: #2e2f42;
--main-btn-color: #404bbf;
--second-btn-color: #4D5AE5;
--address-color: #434455;
--first-logo-color: #4d5ae5;
--footer-second-color: #f4f4fd;
--main-text-color: #434455;
--border-portfolio: #e7e9fc;
--color-modal-bg: #fcfcfc;
--bg-gradient: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)
);
--ocean-bg-color: #31d0aa;
--fill-icon: #8e8f99;
--transition-dur-and-func: 250ms 
cubic-bezier(0.4, 0, 0.2, 1);
;
}
html {
    box-sizing: border-box;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
.images {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: var(--main-title-color);
    }
.list{
    padding: 0;
     margin: 0;
    list-style: none ;
}
.link{
    text-decoration: none ;
}
.container {
    min-width: 320px;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */
    outline: 1px solid red;

 }

@media only screen and (max-width: 768px){
    .container{
max-width: 768px;
    }
}
  

  @media only screen and (
      max-width: 1158px){
        .container {
max-width: 1158px;
        }
      }
 




 .visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
bottom: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
 }
.header {
background-color: var(--main-title-color);
border-bottom: 1px solid var(--border-portfolio);
}
.header-container{
    display: flex;
    align-items: center;
    }
.header-navigation{
display: flex;
align-items: center;
margin-right: auto;
}
.header-logo {
    margin-right: 72px;
    font-family:  'Raleway', sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
    display: flex;
     letter-spacing:  0.03em;
     text-transform: uppercase;
    color: var(--first-logo-color)
}
.header-logotype {
width: 71px;
height: 21px;
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-color); 
}

.header-navigation{
    display: flex;
    align-items: center;
}
.header-item:not(:last-child) {
    margin-right: 40px;
}
.header-list{
display: flex;


}
.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    color: var(--second-color);
   
}
  .header-list:hover {
      color: var(--main-btn-color);
  }
.header-list:focus {
    color: var(--main-btn-color);
  }
.header-link:hover{color: var(--main-btn-color); }

.header-link:focus {
    color: var(--main-btn-color);
}
.header-link {
position: relative;
display: block;
padding-top: 24px;
padding-bottom: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
 color: var(--second-color);
transition: color var(--transition-dur-and-func);
}
 .link.current{
   color: var(--main-btn-color);
}
.current::after{
content: '';
position: absolute;
margin-top: 20px;
bottom: -1px;
border-radius: 2px;
display: block;
width: 100%;
height: 4px;
background-color: var(--main-btn-color);

}

.address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: var(--address-color);
    transition: var(--transition-dur-and-func);
   }

.header-mail {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--address-color);  
}
.header-mail:hover {
    color: var(--main-btn-color);
}
.header-mail:focus {
    color: var(--main-btn-color);
}
.header-phone {
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);
}

.header-phone:hover {
    color: var(--main-btn-color);
}
.header-phone:focus {
    color: var(--main-btn-color);
}

.hero {

padding-top: 188px;
padding-bottom: 188px;
background-color: var(--second-color);
text-align: center;
background-image: 
var(--bg-gradient) ,
url(../images/hero-bg.jpg.jpg);
width: 1440px;
margin-left: auto;
margin-right: auto;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.hero-button:hover{ 
    background-color: var(--main-btn-color);
}
.hero-button:focus{ 
color:var(--main-btn-color) ;
background-color: var(--main-btn-color);
}
.hero-button{
min-width: 169px;
height: 56px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--main-title-color);
background-color: var(--second-btn-color);
cursor: pointer;
border-radius: 4px;
border: none;
padding: 16px 32px;
transition: background-color var(--transition-dur-and-func);
}
.hero-title{
    
margin-left: auto;
margin-right: auto;
width: 496px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-title-color);
margin-bottom: 48px;
}
.section-one{
padding-top: 120px;
}

.feature-list{

display: flex;
gap: 24px;
}
.feature-list .item{
width: 264px;
}
.description {
display: flex;
justify-content: center;
align-items: center; 
height: 112px;
background-size: contain;
background-color: var(--footer-second-color);
border-radius: 4px;
margin-bottom: 8px;
}
.description-icon{
    width: 64px;
    height: 64px;
}


.post{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--second-color);
}
.text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-text-color);
}
.section-three{
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.hero-title-two{
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
 color: var(--second-color);
 margin-bottom: 72px;
}
.paintings-list{
display: flex;
gap: 24px;

}
.section-four-title{
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--second-color);

} 
.section-four-list{
margin-top: 72px;
display: flex;


gap: 24px;
}
.section-four-img{
display: block;
border: 1px solid var(--border-portfolio);
border-top: none;
border-bottom: none;
  
}
.section-four{
padding-top: 120px;
padding-bottom: 120px;
background:var(--footer-second-color);

}
.section-four-photo{
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-color);
}


.cards-team-list {
display: flex;
justify-content: center;
gap: 24px;
}

.cards-team-item {
width: 40px;
height: 40px;
}

.cards-team-link {
width: 100%;
height: 100%;
border-radius: 50%;
background-color: var(--second-btn-color);
display: flex;
align-items: center;
justify-content: center;
transition: background-color var(--transition-dur-and-func);
}
.link-cards-portfolio{
    display: block;
}
.cards-team-link:hover {
    background-color: var(--main-btn-color);
}

.cards-team-icon{
fill: var(--footer-second-color);
}
.cards-team-icon{
transition: fill var(--transition-dur-and-func);
}

.cards-portfolio{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--border-portfolio);
    border-top: none;
    gap: 8px;
    }
.link-cards-portfolio:hover{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-img{
    display: block;

}
.cards{
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid var(--border-portfolio);
    border-radius: 0px 0px 4px 4px;
    }
.section-four-item{
    background-color: var(--main-title-color);
}
.cards {
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.profession{
    margin-bottom: 8px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.company {
    padding-top: 120px;
    padding-bottom: 120px;
}

.company-tytle {
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--second-color);
}
.company-link{
width: 100%;
height: 100%;
fill: var(--fill-icon);
display: flex;
align-items: center;
justify-content: center;
border: 1px solid var(--fill-icon);
border-radius: 4px;
transition: border-color var(--transition-dur-and-func);
}
.company-icon{
 transition: fill var(--transition-dur-and-func);
}
.company-link:hover
 {
fill: var(--main-btn-color);
border-color: var(--main-btn-color);
}

.company-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
    justify-content: center;
}



.company-item {
width: calc((100% - 120px) / 6);
height: 88px;
}

.footer{
padding-top: 100px;
padding-bottom: 100px;
background-color: var(--second-color);


}
.footer-logotype{
    color: var(--footer-second-color);

}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-logo-color)
}
.footer-text{
width: 264px;
margin-top: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-second-color);

}
.footer-media{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-title-color);
margin-bottom: 16px;
}
.footer-list{
display: flex;
justify-content: center;
gap: 16px;
}
.container-one{
display: flex;

}
.footer-item{
width: 40px;
height: 40px;
}
.footer-media-link{
width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--second-btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
transition: background-color var(--transition-dur-and-func);
}
.footer-media-link:hover {
    background-color: var(--ocean-bg-color);
}
.footer-icon{
fill: var(--footer-second-color);
}
.footer-icon {
transition: fill var(--transition-dur-and-func);
}

.footer-social{
margin-left: 120px;
}

.footer-sub-container {
margin-left: auto;
        
}
.footer-sub{
    display: flex;
    gap: 24px;
}

.sub-text {

   font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 16px;

}
.sub-modal-input::placeholder{
    
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--main-title-color);
    align-items: center;
}



.sub-modal-input {
    font-size: 12px;
    width: 264px;
    height: 40px;
    background-color: var(--second-color);
    border: 1px solid var(--main-title-color);
    border-radius: 4px;
   outline: transparent;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   color: var(--main-title-color);
   padding-left: 16px;

}

 


.footer-button {
        min-width: 165px;
        height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--main-title-color);
        background-color: var(--second-btn-color);
        cursor: pointer;
        border-radius: 4px;
        border: none;
     padding: 8px 24px;
        transition: background-color var(--transition-dur-and-func);
    }

.footer-button:hover{
    background-color: var(--main-btn-color);}
.footer-text-btn {
    display: flex;
    justify-items: center;

}

.footer-btn-icon{
    fill: var(--main-title-color);
    padding-left: 16px;
}



.root{
    background-color: var(--main-title-color);
}
.list{
    list-style: none ;
}
.link{
    text-decoration: none ;}
.header {
    background-color: var(--main-title-color);
}
.header-logo {
    font-family:  'Raleway', sans-serif;;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     display: flex;
     letter-spacing:  0.03em;
     text-transform: uppercase;
    color: var(--first-logo-color);
}
.address{
line-height: 1.5;
color: var(--address-color);
 }
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
color: var(--second-color);
}
 .header-mail {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--address-color);  
}
 .header-phone {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--address-color);
}
.portfolio{
padding-top: 96px;
padding-bottom: 120px;

font-family: 'Roboto', sans-serif ; 
}
.portfolio-btn  {
    
padding-left: 24px;
padding-right: 24px;
padding-top: 12px;
padding-bottom: 12px;
border: 1px solid var(--border-portfolio);
font-family: 'Roboto', sans-serif ;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
border-radius: 4px;
background: var(--footer-second-color);
color: var(--second-btn-color);
}
.portfolio-btn{
transition: color var(--transition-dur-and-func), background-color var(--main-btn-color),
border-color var(--main-btn-color), color var(--main-title-color), 
box-shadow 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
.portfolio-list-btn{
display: flex;
justify-content: center;
}

.portfolio-list-btn .work-item + .work-item {
    margin-left: 24px;
}
.portfolio-title{
display: flex;
flex-wrap: wrap;
margin-top: 72px;
gap: 48px 24px;
}
.flex-container{
width: calc((100% - 48px) / 3);

}



.overlay{
    position: absolute; 
    background-color: var(--first-logo-color);
    color: var(--footer-second-color);
    font-size: 16px;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 164px;
    padding-left: 32px;
    padding-right: 32px;
    height: 100%;
    line-height: 24px;
   transform: translateY(100%);
   transition: transform var(--transition-dur-and-func); 
}
.portfolio-cover{
position: relative;
overflow: hidden;
}
.link-cards-portfolio{
   display: block;
}
.link-cards-portfolio:hover .overlay{
 transform: translate(0);
}
.portfolio-btn:hover{
color: var(--main-title-color) ;
background-color: var(--main-btn-color); 
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 border-color: var(--main-btn-color);
}
.portfolio-btn:focus{color: var(--main-title-color) ;
    background-color: var(--main-btn-color);}
 
.work-item {
  font-family:'Roboto',sans-serif ;
  font-style: normal;
   font-size: 16px;
   line-height: 1.5; 
  letter-spacing: 0.04em;  
}
 .list-style{
list-style:  none;
color: var(--second-color);}
.service-title{
margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-color);
    
}
.service-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--address-color);
}
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility var(--transition-dur-and-func),
        opacity var(--transition-dur-and-func);
   
    
}
.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
 width: 408px; 
 background-color:var(--color-modal-bg) ;  
 border-radius: 4px;
 padding-left: 24px ;
 padding-right: 24px;
padding-bottom: 24px;
padding-top: 72px;
transition: transform var(--transition-dur-and-func)

}
.backdrop .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: var(--border-portfolio);
    border-radius: 50px;
    padding: 0;
    margin: 0;
    color: var(--second-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-dur-and-func);

}
.modal-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
} 
.modal-close-btn:hover,
.modal-close-btn:focus{
background-color: var(--main-btn-color);
fill: var(--main-title-color);
}

.modal-title{
   font-size: 16px;
   font-weight: 500; 
   text-align: center;
   line-height: 1.5;
   margin-bottom: 16px;

}



.modal-input{
    width: 100%;
    font-size: 12px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    
    padding-left: 38px;
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
}
.modal-input:focus {
    border-color: var(--main-btn-color);
    outline: none;
}
.modal-input:focus + .modal-icon{
    fill: var(--main-btn-color)
}
.modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--second-color);
    transition: color var(--transition-dur-and-func);
}






.input-wrap{
    position: relative;
    
}

.input-text{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 4px;
    color: var(--fill-icon);
}
.modal-textarea{
    width: 100%;
    font-size: 12px;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    padding-left: 16px;
    padding-top: 8px;
    margin-bottom: 12px;

    border-radius: 4px;
   transition: border-color var(--transition-dur-and-func);
}

  


.modal-textarea:focus {
    border-color: var(--main-btn-color);
    outline: none;
}


.check-text{
font-size: 12px;
display: flex;
align-items: center;

color: var(--fill-icon);
}


.check-text span{
    width: 16px;
        height: 16px;
        border-radius: 2px;
        cursor: pointer;
        border: 1px solid rgba(46, 47, 66, 0.4);
        display: flex;
        margin-right: 8px;
        align-items: center;
        justify-content: center;
    fill: transparent;
    transition: background-color (var(--transition-dur-and-func));
    }
.input-check:checked + .check-text span{
background-color: var(--main-btn-color);
fill: var(--footer-second-color);
}
.input-check:focus + .check-text span{
    border-color: var(--main-btn-color) ;
}
.modal-policy{
    margin-left: 4px;
    color: var(--first-logo-color);
}


.modal-button{
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-title-color);
    background-color: var(--second-btn-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    transition: background-color var(--transition-dur-and-func);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    box-shadow: 
       0px 4px 4px rgba(0, 0, 0, 0.15);
      
}
.modal-field{
margin-bottom: 8px;

}
    
.modal-close-btn{
transition: fill var(--transition-dur-and-func);
}
.modal-button:hover {
    background-color: var(--main-btn-color);
   
}
.modal-button:focus {
    color: var(--main-btn-color);
    background-color: var(--main-btn-color);}



